<form (ngSubmit)="onhandleadd()">
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">price</label>
    <input type="number" class="form-control" name="price" [(ngModel)]="product.price" placeholder="price">
  </div>
  <div class="form-group">
      <label for="formGroupExampleInput2">Ảnh </label>
      <input type="text" class="form-control" name="image"  [(ngModel)]="product.image"   placeholder="image">
    </div>
    <button >them</button>
</form>

